# --- Maven ---
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
nvc_data.json
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.properties

# --- Java ---
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# --- Visual Studio Code ---
.vscode/
.history/
*.code-workspace

# --- IntelliJ IDEA ---
.idea/
*.iws
*.iml
*.ipr

# --- Eclipse ---
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# --- Operating System Files ---
# Mac
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini